@import 'index.partial.scss';
@import 'contact.partial.scss';
$mdGreen: #8FC33F;
$mdgrey: #77777A;
$bgGrey: #D6D0D0;
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  a:link {
    text-decoration: none;
  }

  @media screen and(max-width: 660px) {
  font-size: 1.6em;
}

}

.nav li {
  padding-top: 10px;
  font-size: 1.1em;
  @media screen and(max-width: 767px) {
    font-size: 1.7em;
  }
}

.mainHeader {
  margin: 40px 0 20px 0;
}

h1, h2, h3, p {
  color: $mdgrey;
}

.navbar-brand {
  padding-top: 3px;
}

.upperLogo {
  width: 60px;
  height: 60px;
  margin-left: 36px;
  @media screen and (max-width: 1000px) {
    margin-left: 17px;
  }
  a {
    margin: 0px;
    padding: 0px;
  }
}

.navbar {
  margin-bottom: 0px;
  min-height: 60px;
}

.footer {
  background-color: $bgGrey;
  margin: 0;
  padding: 0;
  h6 {
    margin: 0px;
    padding: 0px;
  }
  .address {
    padding-top: 18px;
    padding-bottom: 8px;
    text-align: center;
    p {
      color: $mdgrey;
      margin: 0px;
      padding: 0px;
    }
  }
}

address {
  margin-bottom: 7px;
  padding: 0;
}

