$mdGreen: #8FC33F;
$mdgrey: #77777A;
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  a:link {
    text-decoration: none;
  }
}

.nav li {
  padding-top: 10px;
  font-size: 1.1em;
  @media screen and(max-width: 767px) {
    font-size: 1.7em;
  }
}

.founders {
  margin-bottom: 100px;
  img {
    width: 80%;
    margin-top: 22px;
  }
}

.mainHeader {
  margin: 80px 0 40px 0;
}

h1,
h2,
h3,
p {
  color: $mdgrey;
}

.navbar-brand {
  padding-top: 3px;
}

.upperLogo {
  width: 60px;
  height: 60px;
  margin-left: 36px;
  @media screen and (max-width: 1000px) {
    margin-left: 17px;
  }
  a {
    margin: 0px;
    padding: 0px;
  }
}

.hero img {
  max-width: 100%;
}

.hero {
  position: relative;
  .WelcomeHaus {
    font-weight: 300;
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 3.6em;
    color: white;
    @media screen and (max-width: 1000px) {
      font-size: 3em;
      top: 20px;
      left: 30px;
    }
    @media screen and (max-width: 720px) {
      font-size: 1.5em;
      top: -12px;
      left: 20px;
    }
  }
  .lowerWelcome {
    position: absolute;
    margin-right: 70px;
    top: 70%;
    left: 60%;
    @media screen and (max-width: 1200px) {
      top: 50%;
      left: 50%;
    }
    @media screen and (max-width: 660px) {
      font-size: .7em;
      top: 50%;
      left: 26%;
      margin-right: 35px;
    }
    h2 {
      text-align: right;
      font-size: 1.5em;
      color: white;
    }
    h4 {
      text-align: right;
      font-size: 1.1em;
      color: white;
    }
    a:link {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}

.navbar {
  margin-bottom: 0px;
  min-height: 60px;
}

//MetaDerm Logo
.squareLogo {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
  background-color: $mdGreen;
  margin-top: 30px;
  margin-bottom: 66px;
  // Metaderm logo "M"
  .md-M {
    position: relative;
    h3 {
      font-size: 2.5em;
      color: white;
      text-align: right;
      margin-right: 9px;
      padding-top: 5px;
    }
  }
}

.threeIcons {
  padding-top: 40px;
  padding-bottom: 40px;
  h3 {
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

.singleIcon {
  padding: 40px;
  img {
    margin: auto;
    display: block;
  }
  h3 {
    text-align: center;
    color: $mdgrey;
  }
  p {
    text-align: center;
    color: $mdgrey;
    @media screen and(max-width: 991px) {
      margin: 0 17%;
    }
  }
}

.footer {
  background-color: #D6D0D0;
  margin: 0;
  padding: 0;

  h6 {
    margin: 0px;
    padding: 0px;
  }

  .address {
    padding-top: 30px;
    text-align: center;
    p {
      color: $mdgrey;
      margin: 0px;
      padding: 0px;
    }
  }
}

.contactForm {

  min-height: 800px;

  @media screen and(max-width: 989px) {
    padding-top: 60px;
    background-image: url(/images/NatureBackground2small.jpg);
      background-size:cover;
  }

  @media screen and(min-width: 990px) {
    padding-top: 60px;
    background-image: url(/images/NatureBackground2.jpg);
      background-size:cover;
  }

  .foxyform {
	padding-top: 80px;

    @media screen and (max-width: 980px) {
      padding-top: 10px;
      padding-left: 28px;
    }
}

}
